@model KaiiCosmeticos.Sistema.Models.Produto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduto" />
            <div class="form-group">
                <label asp-for="UnidadeDeMedida" class="control-label"></label>
                <input asp-for="UnidadeDeMedida" class="form-control" />
                <span asp-validation-for="UnidadeDeMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoCusto" class="control-label"></label>
                <input asp-for="PrecoCusto" class="form-control" />
                <span asp-validation-for="PrecoCusto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVenda" class="control-label"></label>
                <input asp-for="PrecoVenda" class="form-control" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFornecedor" class="control-label"></label>
                <input asp-for="IdFornecedor" class="form-control" />
                <span asp-validation-for="IdFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFabricante" class="control-label"></label>
                <input asp-for="IdFabricante" class="form-control" />
                <span asp-validation-for="IdFabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visivel" /> @Html.DisplayNameFor(model => model.Visivel)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
